{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>SignUp Page</title>
<style>
        body{
          background-color: purple;
           
        }
        form{
            align-content: center;
            margin-left: 40%;
            margin-top: 20%;
           box-sizing: border-box;
        }

        #input{
            background-color: red;
            color: white;
            margin-left:60px;
            width: 150px;
            font-size: 20px;
            font-weight: 500;
        }
        #user1{
            margin-left: 20px;
           
        }
</style>


</head>
<body>
    
    <form method="POST" action="{% url 'login'  %}">
        <h1>SignUp Form</h1>
            {% csrf_token %}
    username:<input type="text" name="username" placeholder="Enter Your Name"  required="" ><br>
<br>
    Email : <input type="text" name="email" placeholder="Enter Your Name" required="" id="user1"><br><br>
    password : <input type="password" name="password" placeholder="Enter Your Name " required="">
    <br><br>
    <input type="submit" value="submit" id="input">  
    <br>
    <p><a href="{% url 'login' %}" target="_blank" style="color:white;">Already Have A account?</a></p>      
    </form>

</body>
</html>